

.show-first {
    opacity: 0;
    transition: opacity .6s ease-out;
}

.show-second {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: 1s;
}

.show-third {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: 1.5s;
}

.show-fourth {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: 2s;
}

body.fade-in .show-first, body.fade-in .show-second, body.fade-in .show-third, body.fade-in .show-fourth {
    opacity: 1;
}

.text-marquee div { 
  -webkit-transform: translateX( -70% ); 
  transform: translateX( -70% ); 
}

#marquee {
  color: black;
  text-shadow:
		-1px -1px 0 #ffffff,
		1px -1px 0 #ffffff,
		-1px 1px 0 #ffffff,
		1px 1px 0 #ffffff;
  
}


.f-headliner { font-size: 30vw; }
.f-headliner-ns { font-size: 20vw; }



