.show-first {
    opacity: 0;
    transition: opacity .6s ease-out;
}

.show-second {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: .5s;
}

.show-third {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: 1s;
}

.show-fourth {
    opacity: 0;
    transition: opacity .6s ease-out;
    transition-delay: 2s;
}

body.fade-in .show-first, body.fade-in .show-second, body.fade-in .show-third, body.fade-in .show-fourth {
    opacity: 1;
}

.text-banner div {
  -webkit-transform: translateX( -70% );
  transform: translateX( -70% );
}

#headline {
  color: black;
  text-shadow:
		-0.5px -0.5px 0 #ffffff,
		0.5px -0.5px 0 #ffffff,
		-0.5px 0.5px 0 #ffffff,
		0.5px 0.5px 0 #ffffff;

}

.f-headliner { font-size: 30vw; }
.f-headliner-ns { font-size: 20vw; }


#wavehi {
		-webkit-animation: rotation .7s infinite linear;
}

@-webkit-keyframes rotation {
		0% {
				-webkit-transform: rotate(0deg);
		}
		50% {
				-webkit-transform: rotate(15deg);
		}
		100% {
					-webkit-transform: rotate(0deg);
			}
}
