.show {
  opacity: 0;
  transition: opacity 0.6s ease-out;
  animation: 1s ease-out 0s 1 slideup;
}

body.fade-in .show {
  opacity: 1;
}

@font-face {
  font-family: "PPMondwest";
  src: url(/src/fonts/PPMondwest-Regular.otf);
}

@font-face {
  font-family: "PPNeuebit";
  src: url(/src/fonts/PPNeueBit-Bold.otf);
}

.bit-serif {
  font-family: PPMondwest;
}

.bit-sans {
  font-family: PPNeuebit;
}

.background {
  background-color: #5bb760;
}

.paper {
  background-color: white;
}

.face {
  height: 50px;
  width: 50px;
}

.hole-bar {
  width: 112px;
}

.hole {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.hole-s {
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

#wavehi {
  -webkit-animation: rotation 0.7s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
